<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
	<title>404 - Justin Hamilton</title>
	<meta name="description" content="I write articles here sometimes.">
	
	<!-- BEGIN CARD PREVIEW STUFF-->
	
	<meta property="og:url" content="https://blog.jwhamilton.co">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Blog - Justin Hamilton">
	<meta property="og:description" content="I write articles here sometimes.">
	
	<meta name="twitter:card" content="summary">
	<meta property="twitter:domain" content="blog.jwhamilton.co">
	<meta property="twitter:url" content="https://blog.jwhamilton.co">
	<meta name="twitter:title" content="Blog - Justin Hamilton">
	<meta name="twitter:description" content="I write articles here sometimes.">
	
	<!-- END CARD PREVIEW STUFF -->
  </head>
  <body>
	<div id="container404">
		<div id="content404">
		<h1>The page you're looking for doesn't exist.</h1>
		<h2 class="sectionItemDescription">Sorry about that.</h2>
		<h2><a href="/">(Back to Home)</a></h2>
	  </div>
	</div>
  </body>
</html>
