<html>
	<head>
		<link rel="stylesheet" type="text/css" href="https://www.jwhamilton.co/style/style.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
		<script type="text/javascript" src="https://www.jwhamilton.co/scripts/pride.js"></script>
		<title>404 - Justin Hamilton</title>
	</head>
	<body>
		<div class="container">
			<p class="content">The page you're looking for doesn't exist. Sorry about that.</p>
			<p class="content"><a href="https://blog.jwhamilton.co">(Back)</a></p>
		</div>
	</body>
</html>
