<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
		<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
		<title>Archive - Justin Hamilton</title>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="headerColumnLeft">
					<a id="titleLink" href="https://www.jwhamilton.co"><h1 id="title">Justin Hamilton</h1></a>
				</div>
			</div>
			<div id="columnContainer">
				<div id="columnLeft">
					<h2 class="sectionTitle sidebarLink"><a href="/.co">Recent Posts</a></h2>
					<h2 class="sectionTitle sidebarLink"><a href="/posts">Archive</a></h2>
					<h2 class="sectionTitle sidebarLink"><a href="https://medium.com/@jwhamilton99">Medium</a></h2>
					<h2 class="sectionTitle sidebarLink"><a href="/feed.xml">RSS</a></h2>
					<h2 class="sectionTitle sidebarLink"><a href="/">Back</a></h2>
				</div>
				<div id="columnRight">
					{% assign groups = site.posts | sorted_by_exp: "post", "post.date" | group_by_exp: "post", "post.date | date: '%Y'"%}
					{% for group in groups %}
						<h2 class="content yearHeader sectionTitle">{{group.name}}</h2>
						{% assign months = group.items | sorted_by_exp: "post", "post.date" | group_by_exp: "post", "post.date | date: '%b'" %}
						{% for month in months %}
							<p class="content monthHeader sectionItemTitle">{{month.name}}</p>
							{% assign monthItems = month.items | sorted_by_exp: "post", "post.date" %}
							{% for post in monthItems %}
								<div class="content indexPost sectionItemDescription">
									<a href="{{post.url}}">{{post.title}}</a> - {{post.date | date_to_string}}
									<br>
								</div>
							{% endfor %}
						{% endfor %}
						<br>
					{% endfor %}
				</div>
			</div>
		</div>
	</body>
</html>