<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
		<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png"/>
		<script src="/assets/scripts/sidebar.js"></script>
		<title>{{page.title}} - Justin Hamilton</title>
		
		<!-- BEGIN CARD PREVIEW STUFF-->
		
		<meta property="og:url" content="https://blog.jwhamilton.co{{page.url}}">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Blog - Justin Hamilton">
		<meta property="og:description" content="{{page.title}}">
		<meta property="og:image" content="https://www.jwhamilton.co/assets/images/logo-socialcard.png">
		
		<meta name="twitter:card" content="summary">
		<meta property="twitter:domain" content="blog.jwhamilton.co">
		<meta property="twitter:url" content="https://blog.jwhamilton.co{{page.url}}">
		<meta name="twitter:title" content="Blog - Justin Hamilton">
		<meta name="twitter:description" content="{{page.title}}">
		<meta name="twitter:image" content="https://blog.jwhamilton.co/assets/images/logo-socialcard.png">
		
		<!-- END CARD PREVIEW STUFF -->
		
		<meta name="description" content="{{page.title}}">
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="headerColumnLeft">
					<h1 id="title"><a id="titleLink" href="https://www.jwhamilton.co">Justin Hamilton</a></h1>
				</div>
				<div id="headerColumnRight">
					<h1 id="collapseButton"><a onclick="toggleSidebar()"  id="collapseButtonInner"><</a></h1>
				</div>
			</div>
			<div id="columnContainer">
				<div id="columnLeft">
					<h2 class="sectionTitle sidebarLink"><a href="/">Recent Posts</a></h2>
					<h2 class="sectionTitle sidebarLink"><a href="/posts">Archive</a></h2>
					<h2 class="sectionTitle sidebarLink"><a href="https://medium.com/@jwhamilton99">Medium</a></h2>
					<h2 class="sectionTitle sidebarLink"><a href="/feed.xml">RSS</a></h2>
					<h2 class="sectionTitle sidebarLink"><a href="/">Back</a></h2>
				</div>
				<div id="columnRight">
					<div class="post">
						<h2 class="sectionTitle"><a href="{{post.url}}">{{page.title}}</a></h2>
						<p class="sectionItemLink">Posted {{page.date | date_to_string}}</p>
						<div class="postContent">{{page.content}}</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>